{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Details{% endblock head_title %}

{% block content %}
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
	

	
	<h3>user: </h3>{{obj_details.user}}
	<h3>Name: </h3>{{obj_details.name}}
	<h3>Powder: </h3> {% for powder in obj_details.powder.all %}{{powder.name}} {% endfor %}
	<h3>Syrup: </h3> {% for syrup in obj_details.syrup.all %}{{syrup.name}} 	{% endfor %}
	<h3>Roast: </h3>{{obj_details.roast}}
	<h3>Beans: </h3>{{obj_details.beans}}
	<h3>Milk: </h3>{{obj_details.milk}}
	<h3>Water: </h3>{{obj_details.water}}
	<h3>Foam: </h3>{{obj_details.foam}}
	<h3>Shots: </h3>{{obj_details.shots}}
	<h3>Extra Instructions: </h3>{{obj_details.extra_instruction}}
	<h3>Price: </h3>{{obj_details.price}}<br>

		
	<a href="{% url 'coffee:updateCoffee' coffee_id=obj_details.id %}" class="btn btn-success btn-lg">Edit</a> 
	<br><br>
        <form action="" method="GET">
        <input type="hidden" name="item" value="{{x.id}}">
        <input type="number" name="qty" value="1">
        <input type="submit" name="btn btn-success" value="Add to Cart">
    </form>

			

</div>
		</div>

{% endblock content %}