{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}List{% endblock head_title %}

{% block content %}
	<div class='row'>
	{% for x in obj_list %}
		<div class='col col-sm-4'>
			<div clas='card' style="width: 02rem;">
				<div class='card-body text-center'></div>
					<div class='card-body text-center'></div>


			</div>

	
	<h3><a href='{% url "coffee:userCoffeeDetails" details_id=x.id %}' >{{x.name}}</a></h3><br>
	
	
	<form action="{% url 'cart:mycart' %}" method="GET">
		<input type="hidden" name="item" value="{{x.id}}">
		<input type="hidden" name="qty" value="1">
		<input type="submit" name="btn btn-success" value="Add to Cart">
	</form>



</div>
{% endfor %}
		</div>

{% endblock content %}